body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.mt-sm {
  margin-top: 6px;
}

.mt-lg {
  margin-top: 20px;
}

#error {
  color:rgb(255, 138, 138);
}

input[type="text"] {
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  font-family: monospace;
  border: 1px solid #a1a1aa;
  width: 600px;
}

button {
  font-size: 20px;
}